body {
  font-size: 13px;
}

h1 {
  font-size: 25px;
  margin-bottom: 4px;
}

h4 {
  margin-bottom: 5px;
  margin-top: 20px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 5px;
}
.coloredTitle { 
  color:#0070c0;
}